# Compiled Java files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# IDE files
.idea/
.vscode/
*.iml

# Build folders
bin/
out/
target/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
